/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Poppins', sans-serif;
}

/* Custom CSS variables */
:root {
  --primary-color: #FF1000;
  --secondary-color: #FF1301;
  --bg-color: #000000;
  --bg-second-color: #090909;
  --text-color: #FEFEFF;
}

/* General styles for the body */

body{
  min-height: 100vh;
}

.navbar{
  background-color: var(--bg-color);
}

.navbar .logo{
  color: var(--primary-color);
}

.navbar .logo:hover{
  color: var(--text-color);
  transform: scale(1.2);
  transition: all 0.5s;
}

.navbar .nav-link{
  color: var(--text-color);
}

.navbar .nav-link:hover{
  color: var(--primary-color);
  transform: scale(1.2);
  transition: all 0.5s;
}

main{
  margin-top: 3rem;
  padding: 1.25rem;
  min-height: 100vh;
  background-color: var(--bg-second-color);
  color: var(--text-color);
}

/* INDEX */
.logo{
  color: var(--primary-color);
}



/* MOVIES */


.movies_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


div.box{
  padding: 0;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.box{
  position: relative;
  width: 250px;
  perspective: 1000px;
  transition: all 0.5s ease-in-out 0.5s;
}

.box:hover{
  transform: scale(1.1);
  box-shadow: 1px 2px 10px 5px solid white;
}

.box .box-img{
  transform: rotateY(0);
  transition: all 0.5s ease-in-out 0s;
}

.box:hover .box-img{
  transform: rotateY(-90deg);
}

.box .box-img img{
  width: 250px;
  height: 380px;
  border: 2px solid #000;
  border-radius: 10px;
}

.box .movies_content{
  color: var(--text-color);
  background-color: rgba(0 , 0 , 0 , 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
}

.box:hover .movies_content{
  transform: rotateY(0);
}

.box .movies_content p{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px 0;
  margin: 0 25px;
}

.box .button{
  background:none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 260px 50px;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  transform: rotateY(90deg);
  transition: all 0.5s ease-in-out 0s;
}

.box:hover .button{
  transform: rotateY(0);  
}

.box .button a{
  color: var(--text-color);
  text-decoration: none;
  border: 1px solid transparent;
  padding: 5px 25px;
  background: #27ae60;
  border-radius: 50px;
} 

.box .button a:hover{
  background: #10890C;
}

.filter_controls, .pagination_controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.filter_controls .row{
  width: 100%;
  max-width: 800px;
}

.pagination_controls nav {
  width: 100%;
  max-width: 400px;
  margin: 3rem 0;
}


/* PROFILE */

.profile_img{
  width: 30%;
  margin: auto;
  display: block;
  border-radius: 50%;
}

.profile-button-group {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Alineación vertical de los botones */
  align-items: center; /* Centrado horizontal */
  gap: 20px; /* Espacio entre los botones */
}

.profile-btn {
  width: 200px; /* Limita el ancho máximo del botón */
  margin-top: 10px; /* Espacio arriba del botón */
}

.profile_image_update{
  display: flex;
  flex-direction: column; /* Organiza los elementos del formulario verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

.btn_controls{
  font-size: 1em;
  cursor: pointer;
  width: 150px;
}

.btn_controls:hover{
  transition: all ease-in-out .5s;
  transform: scale(1.2);
}


/* REGISTER */


/* LOGIN */

footer{
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-top: 1.25rem;
}


@media (min-width:798px) {
  .movies_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
  }

  .box {
    margin: 1rem;
    width: 400px;
  }

  .box .box-img img {
    width: 400px;
    height: 600px;
  }
}