/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Poppins', sans-serif;
}

/* Custom CSS variables */
:root {
  --primary-color: #FF1000;
  --secondary-color: #FF1301;
  --bg-color: #000000;
  --bg-second-color: #090909;
  --text-color: #FEFEFF;
}

/* General styles for the body */

body{
  min-height: 100vh;
}

nav{
  background-color: var(--bg-color);
}

.navbar .logo{
  color: var(--primary-color);
}

.navbar .logo:hover{
  color: var(--text-color);
  transform: scale(1.2);
  transition: all 0.5s;
}

.navbar .nav-link{
  color: var(--text-color);
}

.navbar .nav-link:hover{
  color: var(--primary-color);
  transform: scale(1.2);
  transition: all 0.5s;
}

main{
  padding: 1.25rem;
  min-height: 100vh;
  background-color: var(--bg-second-color);
  color: var(--text-color);
}

/* INDEX */
.logo{
  color: var(--primary-color);
}



/* MOVIES */


/* PROFILE */

.profile_img{
  width: 30%;
  margin: auto;
  display: block;
  border-radius: 50%;
}

/* REGISTER */


/* LOGIN */

footer{
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-top: 1.25rem;
}