{% extends 'base.html' %}

{% block title %}MovieWorld - Login{% endblock %}

{% block content %}
<div class="login-container">
    <h1 class="text-center my-3">Login</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    <label for="username_or_email" class="form-label">Username or Email</label>
                    {{ form.username_or_email(class="form-control" + (" is-invalid" if form.username_or_email.errors else ""), id="username_or_email") }}
                    {% for error in form.username_or_email.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else ""), id="password") }}
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary my-3">Login</button>
            </form>
            <p class="mt-4">Don't have an account? <a class="ms-4" href="{{ url_for('register') }}">Register Here</a></p>
        </div>
    </div>
</div>

{% endblock %}


