{% extends 'base.html' %}

{% block title %}Librarian - Movie Catalog{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <h1 class="text-center">Movie Catalog</h1>
    <div class="row">
        <div>
            <!-- Search Form -->
            <div class="container filter_controls">
                <!-- <div class="row mt-3">
                    <div class="col-12 col-md-6">
                        <form method="GET" action="{{ url_for('movies') }}" class="mb-3">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control" placeholder="Search Movies">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                </div> -->
                <div class="row mt-3 filter_controls">
                    <div class="col-12 col-md-6">
                        <form method="GET" action="{{ url_for('movies') }}" class="mb-3">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control" placeholder="Search Movies">
        
                                <!-- Menú desplegable para géneros -->
                                <select name="genre" class="form-control">
                                    <option value="">All Genres</option>
                                    {% for genre in genres %}
                                    <option value="{{ genre }}">{{ genre.title() }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                        <div class="text-center">
                            <a href="{{ url_for('movies') }}" class="btn btn-secondary">Clear Filters</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Movies Display -->
            <div class="movies_container">
                {% for movie in movies %}
                <div class="box">
                    <div class="box-img">
                        <img src="{{ url_for('uploaded_file', filename=movie.cover_image) }}"
                        alt="{{ movie.title }} Cover" class="card-img-top" data-toggle="tooltip"
                        data-placement="top" title="Hover for Details">
                    </div>
                    <div class="movies_content">
                        <h3>{{ movie.title }}</h3>
                        <p>Year: {{ movie.year }}</p>
                        <div class="button">
                            <a href="{{ url_for('movie_details', movie_id=movie.id) }}" class="b1">Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Pagination Controls -->
            <div class="pagination_controls">
                <nav aria-label="Movie pagination">
                    <ul class="pagination filter_controls">
                        <!-- Previous Page Link -->
                        <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                            <a class="page-link" href="{{ url_for('movies', page=pagination.prev_num) }}" {% if not
                                pagination.has_prev %}aria-disabled="true" {% endif %}>Previous</a>
                        </li>
                        <!-- Page Numbers -->
                        {% for page_num in pagination.iter_pages() %}
                        <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                            <a class="page-link" href="{{ url_for('movies', page=page_num) }}">{{ page_num }}</a>
                        </li>
                        {% endfor %}
                        <!-- Next Page Link -->
                        <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                            <a class="page-link" href="{{ url_for('movies', page=pagination.next_num) }}" {% if not
                                pagination.has_next %}aria-disabled="true" {% endif %}>Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}