{% extends 'base.html' %}

{% block title %}MovieWorld - Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Column for Profile Image Update Form -->
        <div class="col-md-4">
            <!-- Display current profile image -->
            <div class="mb-4">
                {% if user.profile_image %}
                    <img src="{{ user.profile_image }}" alt="{{ user.username }}'s Profile Image" class="profile_img rounded-circle img-thumbnail">
                {% else %}
                    <img class="profile_img rounded-circle img-thumbnail" src="{{ url_for('static', filename='images/uploads/default_profile.jpg') }}" alt="Default Profile Image">
                {% endif %}
            </div>

            <!-- Button group container -->
            <div class="profile-button-group">
                <!-- Form for updating profile image -->
                <form class="profile_image_update" method="POST" action="{{ url_for('update_profile_image') }}">
                    {{ form.hidden_tag() }}
                    <div class="mb-3 text-center">
                        <label for="profile_image" class="form-label my-2">Edit Profile Image</label>
                        {{ form.profile_image(class="form-control", id="profile_image") }}
                        {% if form.profile_image.errors %}
                            <div class="invalid-feedback">{{ form.profile_image.errors[0] }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary profile-btn">Update Profile Image</button>
                </form>

                <!-- Form for deleting account -->
                <form method="POST" action="{{ url_for('delete_account') }}">
                    {{ form.hidden_tag() }}
                    <button type="submit" class="btn btn-danger profile-btn" id="delete-account-button" onclick="return confirmDeleteAccount();">Delete Account</button>
                </form>

                <!-- Link to add a new movie -->
                <div>
                    <a href="{{ url_for('add_movie') }}" class="btn btn-primary profile-btn">Add a Movie</a>
                </div>
            </div>
        </div>
        
        <!-- Column for User's Movies and Reviews -->
        <div class="col-md-8 my-3">
            <h2 class="text-center my-4">My Movies</h2>
            <ul class="list-group">
                {% for movie in user_movies %}
                    <li class="list-group-item rounded-4 my-2">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                {% if movie.cover_image %}
                                    <img src="{{ movie.cover_image }}" alt="{{ movie.title }} Cover" class="img-fluid rounded-4">
                                {% else %}
                                    <img src="{{ url_for('static', filename='images/uploads/default_cover.jpg') }}" alt="Default Cover" class="img-fluid rounded-4">
                                {% endif %}
                            </div>
                            <div class="col-md-9 text-center mt-2">
                                <h3>{{ movie.title }}</h3>
                                <p>Year: {{ movie.year }}</p>
                                <p>Genre: {{ movie.genre }}</p>
                                <p>Director: {{ movie.director }}</p>
                                <p>Overview: {{ movie.overview }}</p>
                                <p>Cast: {{ movie.cast }}</p>
                                <div class="profile_btn">
                                    <a href="{{ url_for('edit_movie', movie_id=movie.id) }}" class="btn btn-primary btn_controls my-1">Edit</a>
                                    <form action="{{ url_for('delete_movie', movie_id=movie.id) }}" method="POST" onsubmit="return confirmDeleteMovie();">
                                        <button type="submit" class="btn btn-danger btn_controls my-1">Delete Movie</button>
                                    </form>
                                    <a href="{{ url_for('movie_details', movie_id=movie.id) }}" class="btn btn-success btn_controls my-1">Details</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <h2 class="text-center my-4">My Reviews</h2>
            <ul class="list-group">
                {% for review in user_reviews %}
                    <li class="list-group-item">
                        <h4>{{ review.movie.title }}</h4>
                        <p>{{ review.content }}</p>
                        <p>By: {{ review.user.username }}</p>
                        <a href="{{ url_for('edit_review', review_id=review.id) }}" class="btn btn-primary btn_controls my-1">Edit</a>
                        <form action="{{ url_for('delete_review', review_id=review.id) }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn btn-danger btn_controls my-1">Delete</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/confirm.js') }}"></script>
</div>
{% endblock %}

